$font-color-gray:rgb(147,147,147);
$max-height: 100%;
$max-width: 100%;
$aside-min-width: 40px;
$aside-max-width: 200px;
$header-bg-color: rgb(80, 130, 230);
$main-bg-color: rgb(247, 248, 252);
$left-background-color: blanchedalmond;
$red: red;
$blue: blue;
$primary:#409eff;
$co-width: 50%;