
body,html ,#app{
  padding: 0!important;
  margin: 0!important;
  width: 100% !important;
  height: 100% !important;
}

a {
  font-weight: 500;
  text-decoration: none;
}
//body {
//  overflow: hidden;
//}
.co-main {
  position: relative;
}
.logo-image {
  width: 58px;
  height: 58px;
}
@media screen and (max-width: 992px){
  .cz-affix-upload {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 992px) {
  .cz-affix-upload {
    position: absolute;
    top: 50%;
    right: 0;
  }
}