:root {
  --box-shadow: 0 1px 8px 0 rgba(0,0,0,.1);
  --background-color: #fff;
  --text-color: #242424;
  --text-color-sub: #7F7F7F;
  --box-shadow-hover: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  --co-card-max-width: 96%
}
root,
:root[screen-mode="web"] {
  --co-max-width: 80%;

}
root,
:root[screen-mode="mobile"] {
  --co-max-width: 100%;
}