.passage {
  max-width: 860px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}
.vuepress-markdown-body h1 {
  position:relative;
  padding-left :0.8rem;
  &::before {
    position: absolute;
    left: 0;
    top: .5rem;
    display: block;
    height: 1.8rem;
    content: "";
    border-left: 5px solid #3eaf7c;
  }
}
pre, code[class*="language-"]{
  background:transparent;
  position: relative;
  z-index:1;
  &::before {
    position:absolute;
    z-index: 3;
    top:0.8em;
    right:1em;
    font-size:0.75rem;
    color:rgba(255, 255, 255, 0.4);
  }
}
code[class~="language-javascript"] {
  &::before{
    content:"js"
   }
}


code[class~="language-typescript"] {
  &::before {
    content:"ts"
   }
}

code[class~="language-markup"] {
  &::before {
    content:"html"
   }
}


code[class~="language-markdown"]{
  &::before {
    content:"md"
   }
}


code[class~="language-json"]{
  &::before{
    content:"json"
  }
}


code[class~="language-ruby"]{
  &::before {
    content:"rb"
  }
}

code[class~="language-python"]{
  &::before{
    content:"py"
  }
}

code[class~="language-bash"]{
  &::before {
    content:"sh"
  }
}

code[class~="language-php"] {
  &::before {
    content: "php";
  }
}
h1, h2, h3, h4 {
  color: #111111;
  font-weight: 500;
  margin-top: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia, Palatino, serif;
  font-weight: 500;
  line-height: 1.25;
}
h1, h2, h3, h4, h5, p , dl{
  margin-bottom: 16px;
  padding: 0;
}

h1, h2 {
  border-bottom: 1px solid #EFEAEA;
  padding-bottom: 10px;
}

a {
  color: #0099ff;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
a:hover {
  text-decoration: none;
  color: #ff6600;
}

ul, ol {
  padding: 0;
  padding-left: 24px;
  margin: 0;
}
li {
  line-height: 24px;
}


code, pre {
  border-radius: 3px;
  background-color:#f7f7f7;
  color: inherit;
}

code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  margin: 0 2px;
}

p>img{
  max-width: 100%!important;
  max-height: 650px!important;
  object-fit: cover;
}

